* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 3, 83, 0.831);
}

.calculator {
  width: 700px;
  height: 90vh;
  border-radius: 50px;
}

.display {
  height: 15%;
}

.output {
  width: 90%;
  background-color: #22435D;

}

.allButtons {
  height: 85%;
}

.buttonRows {
  height: 20%;
}

.buttonRows1 {
  height: 40%;
}

.button {
  width: 20%;
  height: 100%;
  cursor: pointer;
  background-color: #22435D;
  box-shadow: 0px 2px 5px;
  box-shadow: 0px 2px 5px;
}

@media only screen and (max-width: 720px) {
  .calculator {
    width: 90vw;
    border-radius: 50px;
  }
}